.widget_nav_menu {
  ul.menu {
    & > li {
      background-color: #ddd;
      & > a {
        font-weight: bold;
        border-bottom: 1px solid #fff;
        &:hover,
        &:focus,
        &:active {
          background-color: #949494;
          color: #fff;
        }
      }
    }

    li {
      a,
      span {
        color:@darkgray;
        padding: 6px 25px 6px 20px;
        border-bottom: 1px solid #fff;
        display: block;
      }
    }

    ul.sub-menu {
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      li:last-child {
        border-bottom: none;
      }
      a {
        background-color: #fff;
        border-left: none;
        padding-left: 20px;
        &:hover,
        &:focus,
        &:active {
          background-color: #d2d2d2;
        }
        &:before {
          content: "- ";
        }
      }
    }
    span {
      border-left: 10px solid #b7a57a;
      border-bottom: none;
      padding-left: 20px;
      background-color: #ddd;
      a {
        color: #fff;
        border-bottom: none;
      }
    }
  }
}
