/* UW Boundless CSS properties */
:root {
  --uw-color-gray-base: #000;
  --uw-color-gray-darker: #222222;
  --uw-color-gray-dark: #333333;
  --uw-color-gray: #c9c9c9;
  --uw-color-gray-light: #bdc3c7;
  --uw-color-gray-lighter: #eeeeee;
  --uw-color-inverse: white;
  --uw-color-brand-purple: #4b2e83;
  --uw-color-brand-spirit-purple: #4b2e83;
  --uw-color-brand-husky-purple: #32006e;
  --uw-color-brand-spirit-gold: #ffc700;
  --uw-color-brand-husky-light-gold: #e8e3d3;
  --uw-color-brand-husky-gold: #b7a57a;
  --uw-color-brand-husky-metallic-gold: #85754d;
  --uw-color-brand-darkgray: #5a5a5a;
  --uw-color-brand-brightgold: #ffc700;
  --uw-color-brand-ultralightgold: #e8e3d3;
  --uw-color-brand-lightgold: #b7a57a;
  --uw-color-brand-darkgold: #85754d;
  --uw-color-brand-accent-green: #aadb1e;
  --uw-color-brand-accent-teal: #2ad2c9;
  --uw-color-brand-accent-pink: #e93cac;
  --uw-color-brand-accent-lavender: #c5b4e3;
  --uw-color-deep-olive: #476a24;
  --uw-color-cinnamon: #7d4d2a;
  --uw-color-scarlet: #a60606;
  --uw-color-sapphire: #24648e;
  --uw-color-brand-primary: #4b2e83;
  --uw-color-brand-secondary: #85754d;
  --uw-color-brand-success: #476a24;
  --uw-color-brand-warning: #7d4d2a;
  --uw-color-brand-danger: #a60606;
  --uw-color-brand-info: #24648e;
  --uw-bg-body: #fff;
  --uw-color-text: #3d3d3d;
  --uw-color-link: #0074bb;
  --uw-color-link-hover: #c9c9c9;
  --uw-link-hover-decoration: underline;
  --uw-font-family-base: "Open Sans", sans-serif;
  --uw-font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
  --uw-font-family-caps: "Uni sans", sans-serif;
  --uw-local-font-path: "assets/fonts/";
  --uw-local-font-name-normal-black: "EncodeSans-Normal-Black";
  --uw-local-font-name-black: "encodesanscompressed-900-black-webfont";
  --uw-local-font-name-light: "encodesanscompressed-300-light-webfont.eot";
  --uw-local-font-name-bold: "encodesanscompressed-700-bold-webfont";
  --uw-local-font-name-thin: "encodesanscompressed-100-thin-webfont";
  --uw-local-font-name-extralight: "encodesanscompressed-200-extralight-webfont";
  --uw-local-font-name-regular: "encodesanscondensed-400-regular-webfont";
  --uw-local-font-name-medium: "encodesanscondensed-500-medium-webfont";
  --uw-local-font-name-semibold: "encodesanscompressed-600-semibold-webfont";
  --uw-local-font-name-extrabold: "encodesanscompressed-800-extrabold-webfont";
  --uw-local-font-name-icon: "icomoon";
  --uw-local-font-name-uni-sans: "uni_sans_thin-webfont";
  --uw-font-family-heading: "Encode Sans Compressed", sans-serif;
  --uw-font-family-heading-expanded: "Encode Sans Normal", sans-serif;
  --uw-font-weight-heading: 800;
  --uw-line-height-heading: 1.3;
  --uw-color-heading: inherit;
  --uw-font-size-base: 17px;
  --uw-font-size-large: 22px;
  --uw-font-size-small: 15px;
  --uw-font-size-xs: 13px;
  --uw-font-size-h1: 37px;
  --uw-font-size-h2: 28px;
  --uw-font-size-h3: 23px;
  --uw-font-size-h4: 21px;
  --uw-font-size-h5: 18px;
  --uw-font-size-h6: 19px;
  --uw-font-color-base: #3d3d3d;
  --uw-font-weight-base: normal;
  --uw-font-weight-ultra: 900;
  --uw-font-weight-bold: 800;
  --uw-font-weight-heavy: 700;
  --uw-font-weight-medium: 600;
  --uw-font-weight-light: 400;
  --uw-font-weight-body: 300;
  --uw-component-font-size-base: 15px;
  --uw-padding-base-vertical: 6px;
  --uw-padding-base-horizontal: 12px;
  --uw-padding-large-vertical: 10px;
  --uw-padding-large-horizontal: 16px;
  --uw-padding-small-vertical: 5px;
  --uw-padding-small-horizontal: 10px;
  --uw-padding-xs-vertical: 1px;
  --uw-padding-xs-horizontal: 5px;
  --uw-line-height-base: 1.72222;
  --uw-line-height-computed: 29px;
  --uw-line-height-large: 1.3333333;
  --uw-line-height-small: 1.5;
  --uw-border-radius-base: 4px;
  --uw-border-radius-large: 6px;
  --uw-border-radius-small: 3px;
  --uw-component-active-color: #fff;
  --uw-component-active-bg: #4b2e83;
  --uw-caret-width-base: 4px;
  --uw-caret-width-large: 5px;
  --uw-table-cell-padding: 8px;
  --uw-table-condensed-cell-padding: 5px;
  --uw-table-bg: transparent;
  --uw-table-bg-accent: #e2e2e2;
  --uw-table-bg-hover: #f5f5f5;
  --uw-table-bg-active: #f5f5f5;
  --uw-table-border-color: #ababab;
  --uw-btn-font-weight: normal;
  --uw-btn-default-color: white;
  --uw-btn-default-bg: #bdc3c7;
  --uw-btn-default-border: #ccc;
  --uw-btn-primary-color: #fff;
  --uw-btn-primary-bg: #4b2e83;
  --uw-btn-primary-border: #402770;
  --uw-btn-success-color: #fff;
  --uw-btn-success-bg: #476a24;
  --uw-btn-success-border: #3a571e;
  --uw-btn-info-color: #fff;
  --uw-btn-info-bg: #24648e;
  --uw-btn-info-border: #1f567a;
  --uw-btn-warning-color: #fff;
  --uw-btn-warning-bg: #7d4d2a;
  --uw-btn-warning-border: #6a4124;
  --uw-btn-danger-color: #fff;
  --uw-btn-danger-bg: #a60606;
  --uw-btn-danger-border: #8d0505;
  --uw-btn-link-disabled-color: #bdc3c7;
  --uw-btn-border-radius-base: 4px;
  --uw-btn-border-radius-large: 6px;
  --uw-btn-border-radius-small: 3px;
  --uw-input-bg: white;
  --uw-input-bg-disabled: #fafafa;
  --uw-input-color: #c9c9c9;
  --uw-input-border: #ccc;
  --uw-input-border-radius: 6px;
  --uw-input-border-radius-large: 6px;
  --uw-input-border-radius-small: 3px;
  --uw-input-border-focus: #66afe9;
  --uw-input-color-placeholder: #999;
  --uw-input-height-base: 41px;
  --uw-input-height-large: 45px;
  --uw-input-height-small: 35px;
  --uw-form-group-margin-bottom: 15px;
  --uw-legend-color: inherit;
  --uw-legend-border-color: #e5e5e5;
  --uw-input-group-addon-bg: #eeeeee;
  --uw-input-group-addon-border-color: #ccc;
  --uw-cursor-disabled: not-allowed;
  --uw-dropdown-bg: #fff;
  --uw-dropdown-border: rgba(0, 0, 0, 0.15);
  --uw-dropdown-fallback-border: #ccc;
  --uw-dropdown-divider-bg: #e5e5e5;
  --uw-dropdown-link-color: #333333;
  --uw-dropdown-link-hover-color: #262626;
  --uw-dropdown-link-hover-bg: #f5f5f5;
  --uw-dropdown-link-active-color: #fff;
  --uw-dropdown-link-active-bg: #4b2e83;
  --uw-dropdown-link-disabled-color: #bdc3c7;
  --uw-dropdown-header-color: #bdc3c7;
  --uw-dropdown-caret-color: #000;
  --uw-zindex-navbar: 1000;
  --uw-zindex-dropdown: 1000;
  --uw-zindex-popover: 1060;
  --uw-zindex-tooltip: 1070;
  --uw-zindex-navbar-fixed: 1030;
  --uw-zindex-modal-background: 1040;
  --uw-zindex-modal: 1050;
  --uw-screen-xs-min: 480px;
  --uw-screen-sm-min: 768px;
  --uw-screen-md-min: 992px;
  --uw-screen-lg-min: 1200px;
  --uw-screen-xs-max: 767px;
  --uw-screen-sm-max: 991px;
  --uw-screen-md-max: 1199px;
  --uw-grid-columns: 12;
  --uw-grid-gutter-width: 30px;
  --uw-grid-float-breakpoint: 768px;
  --uw-grid-float-breakpoint-max: 767px;
  --uw-container-sm: 750px;
  --uw-container-md: 970px;
  --uw-container-lg: 1170px;
  --uw-navbar-height: 50px;
  --uw-navbar-margin-bottom: 29px;
  --uw-navbar-border-radius: 6px;
  --uw-navbar-padding-horizontal: 15px;
  --uw-navbar-padding-vertical: 10.5px;
  --uw-navbar-collapse-max-height: 340px;
  --uw-navbar-default-color: #777;
  --uw-navbar-default-bg: #ececf4;
  --uw-navbar-default-border: #d7d7e8;
  --uw-navbar-default-link-color: #4b2e83;
  --uw-navbar-default-link-hover-color: #4b2e83;
  --uw-navbar-default-link-hover-bg: transparent;
  --uw-navbar-default-link-active-color: #4b2e83;
  --uw-navbar-default-link-active-bg: transparent;
  --uw-navbar-default-link-disabled-color: #ccc;
  --uw-navbar-default-link-disabled-bg: transparent;
  --uw-navbar-default-brand-color: #4b2e83;
  --uw-navbar-default-brand-hover-color: #4b2e83;
  --uw-navbar-default-brand-hover-bg: transparent;
  --uw-navbar-default-toggle-hover-bg: #ddd;
  --uw-navbar-default-toggle-icon-bar-bg: #888;
  --uw-navbar-default-toggle-border-color: #ddd;
  --uw-navbar-inverse-color: white;
  --uw-navbar-inverse-bg: #4b2e83;
  --uw-navbar-inverse-border: #35215d;
  --uw-navbar-inverse-link-color: white;
  --uw-navbar-inverse-link-hover-color: #4b2e83;
  --uw-navbar-inverse-link-hover-bg: transparent;
  --uw-navbar-inverse-link-active-color: white;
  --uw-navbar-inverse-link-active-bg: #4b2e83;
  --uw-navbar-inverse-link-disabled-color: #444;
  --uw-navbar-inverse-link-disabled-bg: transparent;
  --uw-navbar-inverse-brand-color: white;
  --uw-navbar-inverse-brand-hover-color: #4b2e83;
  --uw-navbar-inverse-brand-hover-bg: transparent;
  --uw-navbar-inverse-toggle-hover-bg: #333;
  --uw-navbar-inverse-toggle-icon-bar-bg: #fff;
  --uw-navbar-inverse-toggle-border-color: #333;
  --uw-nav-link-padding: 10px 15px;
  --uw-nav-link-hover-bg: #eeeeee;
  --uw-nav-disabled-link-color: #bdc3c7;
  --uw-nav-disabled-link-hover-color: #bdc3c7;
  --uw-nav-tabs-border-color: #ddd;
  --uw-nav-tabs-link-hover-border-color: #eeeeee;
  --uw-nav-tabs-active-link-hover-bg: #fff;
  --uw-nav-tabs-active-link-hover-color: #c9c9c9;
  --uw-nav-tabs-active-link-hover-border-color: #ddd;
  --uw-nav-tabs-justified-link-border-color: #ddd;
  --uw-nav-tabs-justified-active-link-border-color: #fff;
  --uw-nav-pills-border-radius: 4px;
  --uw-nav-pills-active-link-hover-bg: #4b2e83;
  --uw-nav-pills-active-link-hover-color: #fff;
  --uw-pagination-color: #dbd5e6;
  --uw-pagination-bg: #fff;
  --uw-pagination-border: #ddd;
  --uw-pagination-hover-color: #c9c9c9;
  --uw-pagination-hover-bg: #eeeeee;
  --uw-pagination-hover-border: #ddd;
  --uw-pagination-active-color: #fff;
  --uw-pagination-active-bg: #4b2e83;
  --uw-pagination-active-border: #4b2e83;
  --uw-pagination-disabled-color: #bdc3c7;
  --uw-pagination-disabled-bg: #fff;
  --uw-pagination-disabled-border: #ddd;
  --uw-pager-bg: #fff;
  --uw-pager-border: #ddd;
  --uw-pager-border-radius: 15px;
  --uw-pager-hover-bg: #eeeeee;
  --uw-pager-active-bg: #4b2e83;
  --uw-pager-active-color: #fff;
  --uw-pager-disabled-color: #bdc3c7;
  --uw-state-success-text: #476a24;
  --uw-state-success-bg: #dff0d8;
  --uw-state-success-border: #d6e9c6;
  --uw-state-info-text: #24648e;
  --uw-state-info-bg: #d9edf7;
  --uw-state-info-border: #bce8f1;
  --uw-state-warning-text: #7d4d2a;
  --uw-state-warning-bg: #fcf8e3;
  --uw-state-warning-border: #faebcc;
  --uw-state-danger-text: #a60606;
  --uw-state-danger-bg: #f2dede;
  --uw-state-danger-border: #ebccd1;
  --uw-tooltip-max-width: 200px;
  --uw-tooltip-color: #fff;
  --uw-tooltip-bg: #000;
  --uw-tooltip-opacity: 0.9;
  --uw-tooltip-arrow-width: 5px;
  --uw-tooltip-arrow-color: #000;
  --uw-popover-bg: #fff;
  --uw-popover-max-width: 276px;
  --uw-popover-border-color: rgba(0, 0, 0, 0.2);
  --uw-popover-fallback-border-color: #ccc;
  --uw-popover-title-bg: #f7f7f7;
  --uw-popover-arrow-width: 10px;
  --uw-popover-arrow-color: #fff;
  --uw-popover-arrow-outer-width: 11px;
  --uw-popover-arrow-outer-color: rgba(0, 0, 0, 0.25);
  --uw-popover-arrow-outer-fallback-color: #999999;
  --uw-label-default-bg: #bdc3c7;
  --uw-label-primary-bg: #4b2e83;
  --uw-label-success-bg: #476a24;
  --uw-label-info-bg: #24648e;
  --uw-label-warning-bg: #7d4d2a;
  --uw-label-danger-bg: #a60606;
  --uw-label-color: #fff;
  --uw-label-link-hover-color: #fff;
  --uw-modal-inner-padding: 15px;
  --uw-modal-title-padding: 15px;
  --uw-modal-title-line-height: 1.72222;
  --uw-modal-content-bg: #fff;
  --uw-modal-content-border-color: rgba(0, 0, 0, 0.2);
  --uw-modal-content-fallback-border-color: #999;
  --uw-modal-backdrop-bg: #000;
  --uw-modal-backdrop-opacity: 0.5;
  --uw-modal-header-border-color: #e5e5e5;
  --uw-modal-footer-border-color: #e5e5e5;
  --uw-modal-lg: 900px;
  --uw-modal-md: 600px;
  --uw-modal-sm: 300px;
  --uw-alert-padding: 15px;
  --uw-alert-border-radius: 4px;
  --uw-alert-link-font-weight: bold;
  --uw-alert-success-bg: #dff0d8;
  --uw-alert-success-text: #476a24;
  --uw-alert-success-border: #d6e9c6;
  --uw-alert-info-bg: #d9edf7;
  --uw-alert-info-text: #24648e;
  --uw-alert-info-border: #bce8f1;
  --uw-alert-warning-bg: #fcf8e3;
  --uw-alert-warning-text: #7d4d2a;
  --uw-alert-warning-border: #faebcc;
  --uw-alert-danger-bg: #f2dede;
  --uw-alert-danger-text: #a60606;
  --uw-alert-danger-border: #ebccd1;
  --uw-progress-bg: #f5f5f5;
  --uw-progress-bar-color: #fff;
  --uw-progress-border-radius: 4px;
  --uw-progress-bar-bg: #4b2e83;
  --uw-progress-bar-success-bg: #476a24;
  --uw-progress-bar-warning-bg: #7d4d2a;
  --uw-progress-bar-danger-bg: #a60606;
  --uw-progress-bar-info-bg: #24648e;
  --uw-list-group-bg: #fff;
  --uw-list-group-border: #ddd;
  --uw-list-group-border-radius: 4px;
  --uw-list-group-hover-bg: #f5f5f5;
  --uw-list-group-active-color: #fff;
  --uw-list-group-active-bg: #4b2e83;
  --uw-list-group-active-border: #4b2e83;
  --uw-list-group-active-text-color: #b5a0dd;
  --uw-list-group-disabled-color: #bdc3c7;
  --uw-list-group-disabled-bg: #eeeeee;
  --uw-list-group-disabled-text-color: #bdc3c7;
  --uw-list-group-link-color: #555;
  --uw-list-group-link-hover-color: #555;
  --uw-list-group-link-heading-color: #333;
  --uw-panel-bg: #fff;
  --uw-panel-body-padding: 15px;
  --uw-panel-heading-padding: 10px 15px;
  --uw-panel-footer-padding: 10px 15px;
  --uw-panel-border-radius: 4px;
  --uw-panel-inner-border: #ddd;
  --uw-panel-footer-bg: #f5f5f5;
  --uw-panel-default-text: #333333;
  --uw-panel-default-border: #ddd;
  --uw-panel-default-heading-bg: #f5f5f5;
  --uw-panel-primary-text: #fff;
  --uw-panel-primary-border: #4b2e83;
  --uw-panel-primary-heading-bg: #4b2e83;
  --uw-panel-success-text: #476a24;
  --uw-panel-success-border: #d6e9c6;
  --uw-panel-success-heading-bg: #dff0d8;
  --uw-panel-info-text: #24648e;
  --uw-panel-info-border: #bce8f1;
  --uw-panel-info-heading-bg: #d9edf7;
  --uw-panel-warning-text: #7d4d2a;
  --uw-panel-warning-border: #faebcc;
  --uw-panel-warning-heading-bg: #fcf8e3;
  --uw-panel-danger-text: #a60606;
  --uw-panel-danger-border: #ebccd1;
  --uw-panel-danger-heading-bg: #f2dede;
  --uw-thumbnail-padding: 4px;
  --uw-thumbnail-bg: #fff;
  --uw-thumbnail-border: #bdc3c7;
  --uw-thumbnail-border-radius: 6px;
  --uw-thumbnail-caption-color: #3d3d3d;
  --uw-thumbnail-caption-padding: 9px;
  --uw-well-bg: #f5f5f5;
  --uw-well-border: #e3e3e3;
  --uw-badge-color: #fff;
  --uw-badge-link-hover-color: #fff;
  --uw-badge-bg: #bdc3c7;
  --uw-badge-active-color: #0074bb;
  --uw-badge-active-bg: #fff;
  --uw-badge-font-weight: bold;
  --uw-badge-line-height: 1;
  --uw-badge-border-radius: 10px;
  --uw-breadcrumb-padding-vertical: 8px;
  --uw-breadcrumb-padding-horizontal: 15px;
  --uw-breadcrumb-bg: #f5f5f5;
  --uw-breadcrumb-color: #ccc;
  --uw-breadcrumb-active-color: --uw-gray-light;
  --uw-breadcrumb-separator: "/";
  --uw-carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  --uw-carousel-control-color: #fff;
  --uw-carousel-control-width: 15%;
  --uw-carousel-control-opacity: 0.5;
  --uw-carousel-control-font-size: 20px;
  --uw-carousel-indicator-active-bg: #fff;
  --uw-carousel-indicator-border-color: #fff;
  --uw-carousel-caption-color: #fff;
  --uw-close-font-weight: bold;
  --uw-close-color: #000;
  --uw-close-text-shadow: 0 1px 0 #fff;
  --uw-code-color: #c7254e;
  --uw-code-bg: #f9f2f4;
  --uw-kbd-color: white;
  --uw-kbd-bg: #4b2e83;
  --uw-pre-bg: white;
  --uw-pre-color: inherit;
  --uw-pre-border-color: #e9e6f0;
  --uw-pre-scrollable-max-height: 340px;
  --uw-component-offset-horizontal: 180px;
  --uw-text-muted: #bdc3c7;
  --uw-abbr-border-color: #bdc3c7;
  --uw-headings-small-color: #e9e6f0;
  --uw-blockquote-small-color: inherit;
  --uw-blockquote-font-size: 21.25px;
  --uw-blockquote-border-color: #e9e6f0;
  --uw-page-header-border-color: #e9e6f0;
  --uw-dl-horizontal-offset: 180px;
  --uw-dl-horizontal-breakpoint: 768px;
  --uw-hr-border: #8e7bb1;
}
